
@charset 'UTF-8';

.justifiable-flexbox {
	margin-top: 100px;
	transition: all 0.4s;
}

@media screen and (max-width: 768px) {
	.justifiable-flexbox {
		display: block;
		min-width: 280px;
		margin-top: 20px;
	}
	.justifiable-flexbox h1 {
		margin-bottom: 20px;
	}
}
