<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>TestLaunch TOP</title>
<link rel="stylesheet" href="vendors/css/sanitize.css" />
<link rel="stylesheet" href="shared/css/style.css" />
</head>

<body>
<nav role="navigation">
<ul class="global-navi-container">
<li class="item logo"><span class="text">TestLaunch</span></li>
<li class="item"><a href="login.html"><span class="text">Login</span></a></li>
<li class="item"><a href="help.html"><span class="text">Help</span></a></li>
</ul>
</nav>

<div role="main" class="main">

<!-- 3 COLUMN -->
<div class="content">
<div class="box-layout flexbox">
<section>
<h3>Column 1</h3>
<p>Lorem ipsum dolor sit amet...</p>
</section>
<section>
<h3>Column 2</h3>
<p>Morbi non semper sapien...</p>
<p>Integer vel pellentesque elit...</p>
</section>
<section>
<h3>Column 3</h3>
<p>Integer commodo...</p>
</section>
</div>
</div>

<!-- Login From -->
<div class="content">
<div class="login-form">
LOGIN FORM
</div>
</div>

<!-- Menu -->
<div class="content">
<div class="menu-layout flexbox">
<section class="menu">
<ul>
<li class="item selected"><span class="text">MENU1</span></li>
<li class="item"><a href="#"><span class="text">MENU2</span></a></li>
<li class="item"><a href="#"><span class="text">MENU3</span></a></li>
</ul>
</section>
<section class="menu-content">
<h2>MENU1 Content</h2>
<p>TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT</p>
<p>TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT</p>
<p>TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT</p>
<p>TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT</p>
</section>
</div>
</div>

</div>

<footer role="contentinfo" class="footer">
<div class="footer-bar">
Copyright&copy; TestLaunch Developer Group All Rights Reserved.
</div>
</footer>

<div class="global-navi-bar"></div>
</body>

</html>