<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>TestLaunch TOP</title>
<link rel="stylesheet" href="vendors/css/sanitize.css" />
<link rel="stylesheet" href="shared/css/style.css" />
</head>

<body>
<nav role="navigation">
<ul class="global-navi-container">
<li class="item"><span class="text">TestLaunch</span></li>
<li class="item"><a href="login.html"><span class="text">Login</span></a></li>
<li class="item"><a href="help.html"><span class="text">Help</span></a></li>
</ul>
</nav>

<div role="main" class="content">

<!-- 3 COLUMN -->
<div class="box-layout flexbox">
<section>
<h3>Column 1</h3>
<p>Lorem ipsum dolor sit amet...</p>
</section>
<section>
<h3>Column 2</h3>
<p>Morbi non semper sapien...</p>
<p>Integer vel pellentesque elit...</p>
</section>
<section>
<h3>Column 3</h3>
<p>Integer commodo...</p>
</section>
</div>

</div>

<footer role="contentinfo" class="footer">
<div class="footer-bar">
Copyright&copy; TestLaunch Developer Group All Rights Reserved.
</div>
</footer>

<div class="global-navi-bar"></div>
</body>

</html>