<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>TestLaunch TOP</title>
<link rel="stylesheet" href="vendors/css/sanitize.css" />
<link rel="stylesheet" href="shared/css/style.css" />
</head>

<body>

<!--
<header role="banner">
</header>
-->

<nav role="navigation">
<ul class="global-navi-container">
<li class="item"><a href="index.html"><span class="text">TestLaunch</span></a></li>
<li class="item"><a href="login.html"><span class="text">Login</span></a></li>
<li class="item"><a href="help.html"><span class="text">Help</span></a></li>
</ul>
</nav>

<div role="main" class="content">
MAIN AREA
</div>

<footer role="contentinfo">
<div class="footer-bar">
Copyright&copy; TestLaunch Developer Group All Rights Reserved.
</div>
</footer>

<div class="gbn-bar"></div>

</body>

</html>