<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>TestLaunch TOP</title>
<link rel="stylesheet" href="vendors/css/sanitize.css" />
<link rel="stylesheet" href="shared/css/style.css" />
</head>

<body>
<nav role="navigation">
<ul class="global-navi-container">
<li class="item logo"><span class="text">TestLaunch</span></li>
<li class="item"><a href="login.html"><span class="text">Login</span></a></li>
<li class="item"><a href="help.html"><span class="text">Help</span></a></li>
</ul>
</nav>

<div role="main" class="main">
</div>

<footer role="contentinfo" class="footer">
<div class="footer-bar">
Copyright&copy; TestLaunch Developer Group All Rights Reserved.
</div>
</footer>

<div class="global-navi-bar"></div>
</body>

</html>