<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>TestLaunch TOP</title>
<link rel="stylesheet" href="vendors/css/sanitize.css" />
<link rel="stylesheet" href="shared/css/style.css" />
</head>

<body>
<nav role="navigation">
<ul class="global-navi-container">
<li class="item logo"><span class="text">TestLaunch</span></li>
<li class="item"><a href="login.html"><span class="text">Login</span></a></li>
<li class="item"><a href="help.html"><span class="text">Help</span></a></li>
</ul>
</nav>

<div role="main" class="main">

<!-- 3 COLUMN -->
<div class="content">
<div class="box-layout flexbox">
<section>
<h3>Column 1</h3>
<p>Lorem ipsum dolor sit amet...</p>
</section>
<section>
<h3>Column 2</h3>
<p>Morbi non semper sapien...</p>
<p>Integer vel pellentesque elit...</p>
</section>
<section>
<h3>Column 3</h3>
<p>Integer commodo...</p>
</section>
</div>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- From -->
<div class="content">
<div class="form">

<input type="text" id="text" /><label for="text">TEXTBOX</label><br />
<input type="checkbox" id="checkbox" /><label for="checkbox">CHECKBOX</label><br />
<input type="radio" id="radio" /><label for="radio">RADIO</label><br />

<textarea>
Planetext. Planetext. Planetext. Planetext.
</textarea>
<br />

<select>
<option value="">Apple</option>
<option value="">Orange</option>
</select>

</div>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Menu / Content -->
<div class="content">
<div class="menu-layout flexbox">
<section class="menu">
<ul>
<li class="item selected"><span class="text">MENU1</span></li>
<li class="item"><a href="#"><span class="text">MENU2</span></a></li>
<li class="item selected"><span class="text">MENU3</span></li>
<li class="item"><a href="#"><span class="text">MENU4</span></a></li>
</ul>
</section>
<section class="menu-content">
<h2>MENU1 Content</h2>
<p>1066 In this year the monastery at Westminster was hallowed on Childermas day (28 December).</p>
<p>And king Eadward died on Twelfth-mass eve (5 January) and he was buried on Twelfth-mass day, in the newly hallowed church at Westminster.</p>
<p>And earl Harold succeeded to the Kingdom of England, as the king had granted it to him and men had also chosen him thereto and he was blessed as king on Twelfth-mass day.</p>
<p>And in the same year that he was king he went out with a naval force against William ...</p>
<p>And the while count William landed at Hastings, on St.</p>
<p>Michael's mass-day and Harold came from the north and fought against him before his army had all come and there he fell and his two brothers Gyrth and Leofwine and William subdued this land, and came to Westminster and archbishop Ealdred hallowed him king and men paid him tribute and gave him hostages and afterwards bought their land </p>
</section>
</div>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Gallary -->
<div class="content">
<section class="gallary">
<figure>
<img src="shared/img/sample/wasp.jpg" alt="SAMPLE">
<figcaption>Caption</figcaption>
</figure>
<figure>
<img src="shared/img/sample/wasp.jpg" alt="SAMPLE">
<figcaption>Caption</figcaption>
</figure>
</section>
</div>

<div class="content">
<section class="gallary">
<figure>
<img src="shared/img/sample/wasp.jpg" alt="SAMPLE">
<figcaption>Caption</figcaption>
<p class="description">1066 In this year the monastery at Westminster was hallowed on Childermas day (28 December).</p>
<p class="description">And king Eadward died on Twelfth-mass eve (5 January) and he was buried on Twelfth-mass day, in the newly hallowed church at Westminster.</p>
<p class="description">And earl Harold succeeded to the Kingdom of England, as the king had granted it to him and men had also chosen him thereto and he was blessed as king on Twelfth-mass day.</p>
</figure>
<figure>
<img src="shared/img/sample/wasp.jpg" alt="SAMPLE">
<figcaption>Caption</figcaption>
<p class="description">1066 In this year the monastery at Westminster was hallowed on Childermas day (28 December).</p>
<p class="description">And king Eadward died on Twelfth-mass eve (5 January) and he was buried on Twelfth-mass day, in the newly hallowed church at Westminster.</p>
<p class="description">And earl Harold succeeded to the Kingdom of England, as the king had granted it to him and men had also chosen him thereto and he was blessed as king on Twelfth-mass day.</p>
</figure>
</section>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Table -->
<div class="content">
<table class="list01">
<thead>
<tr>
<th>COL1</th>
<th>COL2</th>
</tr>
</thead>
<tbody>
<tr>
<td>AAA</td>
<td>BBB</td>
</tr>
<tr>
<td>AAA</td>
<td>BBB</td>
</tr>
</tbody>
</table>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Justifiable flexbox -->
<div class="content">
<div class="justifiable-flexbox">
<section class="item">LEFT</section>
<section class="item">CENTER</section>
<section class="item">RIGHT</section>
</div>
<div class="justifiable-flexbox">
<section class="item">LEFT</section>
<section class="item">RIGHT</section>
</div>
<div class="justifiable-flexbox">
<section class="item">1</section>
<section class="item">2</section>
<section class="item">3</section>
<section class="item">4</section>
<section class="item">5</section>
</div>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Links -->
<div class="content">
<a href="https://www.google.com/" target="_blank">https://www.google.com/</a>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Buttons -->
<div class="content">
<div>
<a href="#" class="button">ANCHOR</a>
<a href="#" class="button disabled">DISABLE</a>
<a href="#" class="button done">DONE</a>
<a href="#" class="button notice">NOTICE</a>
<a href="#" class="button icon download">DOWNLOAD</a>
<a href="#" class="button icon check">CHECK</a>
<a href="#" class="button icon refresh">REFRESH</a>
<a href="#" class="button icon expand">EXPAND</a>
<a href="#" class="button icon pen">PEN</a>
<a href="#" class="button icon wrench">WRENCH</a>
</div>

<div style="margin-top:10px;">
<div class="button">DIV</div>
<div class="button disabled">DIV DISABLE</div>
<div class="button done">DIV DONE</div>
<div class="button notice">DIV NOTICE</div>
<div class="button icon download">DIV DOWNLOAD</div>
</div>

<div style="margin-top:10px;">
<div class="button">SAPN</div>
<div class="button disabled">SAPN DISABLE</div>
<div class="button done">SAPN DONE</div>
<div class="button notice">SAPN NOTICE</div>
</div>

<div style="margin-top:10px;">
<input type="button" class="button" value="INPUT" />
<input type="button" class="button disabled" value="INPUT DISABLE" />
<input type="button" class="button done" value="INPUT DONE" />
<input type="button" class="button notice" value="INPUT NOTICE" />
</div>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Menu bread -->
<div class="content">
<label class="menu-icon">
<input type="checkbox" />
<div class="bar"></div>
</label>
<label class="menu-icon">
<input type="checkbox" />
<div class="bar"></div>
</label>
</div>

<div class="content"><div style="background-color:#eeeeee; padding:2px;"></div></div>


<!-- Image stack -->
<div class="content">
<section class="image-stack">
<img src="shared/img/sample/wasp.jpg" alt="SAMPLE">
</section>
<section class="image-stack">
<img src="shared/img/sample/wasp.jpg" alt="SAMPLE">
</section>
<section class="image-stack">
<img src="shared/img/sample/wasp.jpg" alt="SAMPLE">
</section>
</div>

</div>

<footer role="contentinfo" class="footer">
<div class="footer-bar">
Copyright&copy; TestLaunch Developer Group All Rights Reserved.
</div>
</footer>

<div class="global-navi-bar"></div>
</body>

</html>